@font-face {
    font-family:'romance' ;
    src: url(fontes/Lovely\ Valentine.otf) format('opentype');
}
body {
    background: black url(imagens/valentines\ day.jpg) center center/ 600px repeat fixed;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(0, 255, 255, 0.77);
}
#container {
    background-color: white;
    background-image: url(imagens/casamento.jpg);
    background-position: center center;
    background-attachment: fixed;
    margin: auto;
    width: 400px;
    padding: 10px;
    border: 2px solid rgb(203, 2, 2);
}

h1.introducao{
    color: darkred;
    font-family: 'romance' , Arial, sans-serif ;
    font-size: 3em;
}
footer {
    color: white;
    background-color: black;
    padding: 5px;
    text-align: center;
    margin-bottom: -10px;
}